@import url('https://fonts.google.com/specimen/Red+Hat+Display');
body
{
background: url("./images/pattern-background-desktop.svg") no-repeat;
background-color: hsl(225, 100%, 94%);
}
#container1
{
    width: 25%;
    height: auto;
    border-radius: 15px;
    margin: 4% auto ;
    background-color: white;
}

#img1
{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;   
    width:100%;
}
h1
{
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
h2
{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 16px;
    margin: 8% 0% 12% 0%;
}
p
{
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color:  hsl(224, 23%, 55%);
    width: 20vw;
    margin: 5% auto;
}
span
{
    font-weight: 500;
    font-size: 16px;
    color:  hsl(224, 23%, 55%);
}
#container2
{
    width: 90%;
 display: flex;
 background-color: hsl(225, 100%, 98%);
 border-radius: 15px;
 margin-left: 5%;
 padding: 5px 0px;
}
.container2
{
    margin-left: 5%;
}
.container3
{
    margin: 8% 0% 8% 23% ;
}
#container2 img
{
    margin: 5px;
}
 a 
{
    color: (223, 47%, 23%);
}
 a:active
{
    color:  hsl(224, 23%, 55%) ;
    text-decoration: none;
}
button
{
    width: 90%;
    background: none;
    background-color: hsl(223, 47%, 23%);
    color:  hsl(225, 100%, 98%);
    border: transparent;
    font: inherit;
    outline: inherit;
margin: 5%;
padding: 5% 0%;
border-radius: 10px;
}
button:active
{
    background-color:  hsl(224, 23%, 55%) ;
    text-decoration: none;
}
.container4
{
    padding-bottom: 8%;
}
.container4 a
{
color: hsl(224, 23%, 55%);
text-decoration: none;
}
.container4 a:active
{
    color:  hsl(223, 47%, 23%);
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
 @media(max-width: 375px) 
     {
body
{
background-image: url("./images/pattern-background-mobile.svg") no-reapeat;
}
#container1
{
    width:90%;
}
p 
{
    width: 60vw;
}
.container2
{
    margin-left: 2%;
}
.container3
{
    margin: 8% 0% 8% 14% ;
}
    }
